<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- 共通部品をつかう -->
<head th:replace="_common::header"></head>
<body>
<div id="content" class="container">
	<div class="row">
		<div class="col-8">
	    	<a th:href="@{/employee/home}" th:text="home">home</a>
	    </div>
	</div>
	<div class="col-12 offset-1 pt-4">
		<h1>指定のページが見つかりません。</h1>
		<h3 th:text="${url}"></h3>
	</div>
	<div class="col-12 offset-1 pt-5">
		<!-- 共通部品をつかう -->
	    <footer th:replace="_common::footer"></footer>
	</div>
</div>
</body>
</html>