<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Page Header -->
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="${title}">Page Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        #content {
            margin: 20px;
        }
    </style>
</head>

<!-- Page Footer -->
<footer th:fragment="footer">
    <hr>
    <!--/*@thymesVar id="year" type="java.lang.String"*/-->
    <p>Copyright (C) 2020 Kronos Co., Ltd. All Rights Reserved.</p>
    <p>Powered by <a href="https://getbootstrap.com/">Bootstrap v4.3.1</a>, <a href="https://jquery.com/">jquery v3.3.1</a>, <a href="https://jqueryui.com/">jQuery UI v1.12.1</a></p>
</footer>

</html>
