<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- 共通部品をつかう -->
<head th:replace="_common::header"></head>

<body>
<div id="content" class="container">
	<div class="row">
		<div class="col-8">
		    <a th:href="@{/employee/home}" th:text="home">home</a>
		    &gt;
		    従業員一覧
	    </div>
	</div>
	<div class="row">
		<div class="col-12 offset-1 pt-4">
		    <h1>従業員一覧</h1>
		    <div class="alert alert-primary" th:text="${message}" th:unless="${#strings.isEmpty(message)}"></div>
		    <a class="btn btn-success" th:href="@{/employee/add}">新規登録</a>
		    <table class="table table-striped table-bordered">
		        <thead>
		        <tr>
		            <th>従業員ID</th>
		            <th>名前</th>
		            <th>職種</th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr th:each="employee : ${employeeList.employees}">
		            <td><a href="/employee/edit?id=-1" th:href="@{/employee/edit(id=${employee.id})}" th:text="${employee.id}">-1</a></td>
		            <td th:text="${employee.name}">test</td>
		            <td th:if="${employee.jobCategory.name().equals('DESIGNER')}">デザイナー</td>
		            <td th:if="${employee.jobCategory.name().equals('PROGRAMMER')}">プログラマー</td>
		            <td th:if="${employee.jobCategory.name().equals('MANAGER')}">マネージャー</td>
		        </tr>
		        </tbody>
		    </table>
	    </div>
	    <div class="col-12 offset-1 pt-4">
			<!-- 共通部品をつかう -->
		    <footer th:replace="_common::footer"></footer>
		</div>
    </div>
</div>
</body>
</html>
